@{
    ViewBag.Title = "Home Page";
    var location = new string[] { "იმერეთი", "სამეგრელი", "გურია", "ქართლი" };
    var name = "anri mania";
    var dic = new Dictionary<int, string>() { { 1, "2" }, { 3, "324234" } };

}



@*#content {
     height: -moz-calc(100% - 100px); /* Firefox */
     height: -webkit-calc(100% - 100px); /* Chrome, Safari */
     height: calc(100% - 100px); /* IE9+ and future browsers */
     background-color: yellow
    }*@


<div class="btn-group">
    @Html.Bootstrap().Button().Text("Profile").Color(BootstrapColors.Default).IconPrepend(FontAwesome.Cogs)
    @Html.Bootstrap().Button().Text("Settings").Color(BootstrapColors.Default).IconPrepend(FontAwesome.Cogs)
    @Html.Bootstrap().Button().Text("Feeds").Color(BootstrapColors.Default).IconPrepend(FontAwesome.Bullhorn)
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-ellipsis-h"></i> More <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="#">Dropdown link</a>
            </li>
            <li>
                <a href="#">Dropdown link</a>
            </li>
        </ul>
    </div>
</div>

<div class="well well-lg">
    <button class="btn btn-darkorange" id="bootbox-options">Bootbox Custom Form</button>
    <button class="btn btn-default" data-toggle="modal" data-target="#largeModal">Large modal</button>
</div>


<div id="myEmailModal" style="display:none;">
    <div class="row">
        <div class="col-md-6">

            <div class="col-md-5">
                <div class="form-group">
                    ნაგავსაყრელის მდებარეობა
                </div>
                <div class="form-group">
                    მიმღების სახელი
                </div>
                <div class="form-group">
                    მიმღების თანამდებობა
                </div>
            </div>

            <div class="col-md-7">

                <div class="form-group">
                    <select id="e8" style="width:100%;">
                        @foreach (var locationName in location)
                        {
                            <option value="AL" />@locationName
                        }
                    </select>
                </div>


                <div class="form-group">
                    @Html.Bootstrap().TextBox("name").Value(name).Size(InputSize.Small)
                </div>
                <div class="form-group">
                    @Html.Bootstrap().TextBox("LastName").Value(name).Size(InputSize.Small)
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="To" required="">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Subject" required="">
            </div>
            <div class="form-group">
                <textarea class="form-control" placeholder="Content" rows="5" required=""></textarea>
            </div>
        </div>

        <div class="col-md-12">
            <table class="table table-striped table-hover table-bordered" id="editabledatatable">
                <thead>
                    <tr role="row">
                        <th>
                            Username
                        </th>
                        <th>
                            Full Name
                        </th>
                        <th>
                            Points
                        </th>
                        <th>
                            Notes
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>alex</td>
                        <td>Alex Nilson</td>
                        <td>1234</td>
                        <td class="center ">power user</td>
                        <td>
                            <a href="#" class="btn btn-info btn-xs edit"><i class="fa fa-edit"></i> Edit</a>
                            <a href="#" class="btn btn-danger btn-xs delete"><i class="fa fa-trash-o"></i> Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            gist124
                        </td>
                        <td>
                            Nick Roberts
                        </td>
                        <td>
                            62
                        </td>
                        <td class="center ">
                            new user
                        </td>
                        <td>
                            <a href="#" class="btn btn-info btn-xs edit"><i class="fa fa-edit"></i> Edit</a>
                            <a href="#" class="btn btn-danger btn-xs delete"><i class="fa fa-trash-o"></i> Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            goldweb
                        </td>
                        <td>
                            Sergio Jackson
                        </td>
                        <td>
                            132
                        </td>
                        <td class="center ">
                            elite user
                        </td>
                        <td>
                            <a href="#" class="btn btn-info btn-xs edit"><i class="fa fa-edit"></i> Edit</a>
                            <a href="#" class="btn btn-danger btn-xs delete"><i class="fa fa-trash-o"></i> Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            lisa
                        </td>
                        <td>
                            Lisa Wong
                        </td>
                        <td>
                            434
                        </td>
                        <td class="center ">
                            new user
                        </td>
                        <td>
                            <a href="#" class="btn btn-info btn-xs edit"><i class="fa fa-edit"></i> Edit</a>
                            <a href="#" class="btn btn-danger btn-xs delete"><i class="fa fa-trash-o"></i> Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            nick12
                        </td>
                        <td>
                            Nick Roberts
                        </td>
                        <td>
                            232
                        </td>
                        <td class="center ">
                            power user
                        </td>
                        <td>
                            <a href="#" class="btn btn-info btn-xs edit"><i class="fa fa-edit"></i> Edit</a>
                            <a href="#" class="btn btn-danger btn-xs delete"><i class="fa fa-trash-o"></i> Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            webriver
                        </td>
                        <td>
                            Antonio Sanches
                        </td>
                        <td>
                            462
                        </td>
                        <td class="center ">
                            new user
                        </td>
                        <td>
                            <a href="#" class="btn btn-info btn-xs edit"><i class="fa fa-edit"></i> Edit</a>
                            <a href="#" class="btn btn-danger btn-xs delete"><i class="fa fa-trash-o"></i> Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>


@using (var modal = Html.Bootstrap().Begin(new Modal().Id("largeModal").Closeable().Size(BootstrapSizes.Large).Color(BootstrapColors.Blue)))
{
    using (var header = modal.BeginHeader())
    {
        <h4 class="modal-title" id="myLargeModalLabel">Large modal</h4>
    }
    using (var body = modal.BeginBody())
    {
        <div class="row">
            <div class="col-md-6">

                <div class="col-md-5">
                    <div class="form-group">
                        ნაგავსაყრელის მდებარეობა
                    </div>
                    <div class="form-group">
                        მიმღების სახელი
                    </div>
                    <div class="form-group">
                        მიმღების თანამდებობა
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="form-group">
                        <select id="e6" style="width:100%;">
                            @foreach (var locationName in location)
                            {
                                <option value="AL" />@locationName
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        @Html.Bootstrap().TextBox("name").Value(name).Size(InputSize.Small)
                    </div>
                    <div class="form-group">
                        @Html.Bootstrap().TextBox("LastName").Value(name).Size(InputSize.Small)
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="To" required="">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Subject" required="">
                </div>
                <div class="form-group">
                    <textarea class="form-control" placeholder="Content" rows="5" required=""></textarea>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header bordered-bottom">
                        <span class="widget-caption">ნარჩენების აღრიცხვა</span>
                        <div class="widget-buttons">
                            <a href="#" data-toggle="collapse">
                                <i class="fa fa-minus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body no-padding">
                        <table class="table table-bordered table-hover table-striped" id="searchable">
                            <thead class="bordered-darkorange">
                                <tr role="row">
                                    <th>Rendering engine</th>
                                    <th>Browser</th>
                                    <th>Platform(s)</th>
                                    <th>Engine version</th>
                                    <th>CSS grade</th>
                                </tr>
                            </thead>

                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1"><input type="text" name="search_engine" placeholder="Search engines" class="form-control input-sm"></th>
                                    <th rowspan="1" colspan="1"><input type="text" name="search_browser" placeholder="Search browsers" class="form-control input-sm"></th>
                                    <th rowspan="1" colspan="1"><input type="text" name="search_platform" placeholder="Search platforms" class="form-control input-sm"></th>
                                    <th rowspan="1" colspan="1"><input type="text" name="search_version" placeholder="Search versions" class="form-control input-sm"></th>
                                    <th rowspan="1" colspan="1"><input type="text" name="search_grade" placeholder="Search grades" class="form-control input-sm"></th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @for (var i = 1; i < 1000; i++)
                                {
                                    <tr>
                                        <td class=" sorting_1">Gecko</td>
                                        <td class=" ">Firefox 1.0</td>
                                        <td class=" ">Win 98+ / OSX.2+</td>
                                        <td class="center ">1.7</td>
                                        <td class="center ">A</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }

    using (var header = modal.BeginFooter())
    {
        <button class="btn btn-default">შენახვა</button>
        <button class="btn btn-default">გაუქმება</button>
    }
}




@section PageScripts{
    <!--Jquery Select2-->
    <script src="~/assets/js/select2/select2.js"></script>
    <script src="~/assets/js/bootbox/bootbox.js"></script>
    <link href="~/assets/css/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/assets/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/datatable/ZeroClipboard.js"></script>
    <script src="~/assets/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/assets/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/datatable/datatables-init.js"></script>
    <script>
        InitiateSearchableDataTable.init();


        //--Jquery Select2--
        $("#e6").select2();

        $("#e2").select2({
            placeholder: "Select a State",
            allowClear: true
        });

        $("#bootbox-options").on('click', function () {
            bootbox.dialog({
                message: $("#myEmailModal").html(),

                title: "განთავსების აქტის შექმნა",
                className: "modal-darkorange",
                buttons: {
                    success: {
                        label: "შენახვა",
                        className: "btn-blue",
                        callback: function () { }
                    },
                    "გაუქმება": {
                        className: "btn-danger",
                        callback: function () { }
                    }
                }
            });
        });

    </script>
}
